<div class="container" >
    <h3 mat-title fxLayout="row" fxLayoutGap="0.5%" class="mat-h2">Please Donate for your favourite Stop - {{stop.Name}}</h3>
    <ng-template [ngIf]="serviceUp" [ngIfElse]="serviceDown">
        <form class="form" fxLayout="column" fxLayoutGap="0.5%" >        
            <mat-form-field class="element-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="donation.Donor.Name" name="name" required>
            </mat-form-field>
            <mat-form-field class="element-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="donation.Donor.Email"  name="Email">
            </mat-form-field>
            <mat-form-field class="element-full-width">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount" [(ngModel)]="donation.Amount" name="Amount" required>
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="0.5%">
                <mat-form-field class="card-width">
                    <mat-label>CreditCard/ DebitCard Number</mat-label>
                    <input matInput placeholder="Card Number" [(ngModel)]="card.Number" name="Card" required>
                </mat-form-field>
                <mat-form-field class="expiry-width">
                    <mat-label>Expiry/ Validity Date</mat-label>
                    <input matInput placeholder="MM/YY" [(ngModel)]="card.Expiry" name="Expiry" required>
                </mat-form-field>
                <mat-form-field class="cvv-width">
                    <mat-label>CVV</mat-label>
                    <input matInput placeholder="CVV" [(ngModel)]="card.CVV" name="CVV" required>
                </mat-form-field>
            </div>
            <div class="element-full-width">
                <button mat-raised-button color="primary" (click)="donate()">Donate</button>
            </div>
        </form>
        <mat-list>
            <h3 fxLayout="row" mat-subheading-1 fxLayoutGap="0.5%" >Donations History</h3>
            <mat-list-item *ngFor="let donation of stop.Donations" fxLayout="row" fxLayoutGap="0.5%" >
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <p mat-line> {{donation.Donor.Name}} donated Amount: $ {{donation.Amount}} </p>
            </mat-list-item>
        </mat-list>
    </ng-template>
</div>
<ng-template #serviceDown>
    <app-error></app-error>
</ng-template>